<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            New Accommodations
        </h1>
        <form [formGroup]="createAccommodationtForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name: </label>
                <input label="Name" class="form-control" formControlName="name" type="text">
            </div>
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" rows="5" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <label for="maxPerson">Max Persons:</label>
                <input type="number" class="form-control" formControlName="maxPersons">
            </div>
            <div class="form-group">
                <label for="continent">Continent:</label>
                <input type="text" class="form-control" formControlName="continent">
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" class="form-control" formControlName="country">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" formControlName="location">
            </div>
            <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="text" class="form-control" formControlName="latitude">
            </div>
            <div class="form-group">
                <label for="longtitude">Longtitude:</label>
                <input type="text" class="form-control" formControlName="longtitude">
            </div>
            <div class="form-group">
                <label for="rooms">Rooms:</label>
                <input type="number" class="form-control" formControlName="rooms">
            </div>
            <div class="form-group">
                <label for="beds">Beds:</label>
                <input type="number" class="form-control" formControlName="beds">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" formControlName="price">
            </div>
            <div class="form-group">
                <label for="spaceText">Space:</label>
                <textarea type="text" class="form-control" formControlName="spaceText"></textarea>
            </div>
            <div class="form-group">
                <label for="servicesText">Service:</label>
                <textarea type="text" class="form-control" formControlName="servicesText"></textarea>
            </div>
            <div class="form-group">
                <label for="pricesText">Price Text:</label>
                <textarea type="text" class="form-control" formControlName="pricesText"></textarea>
            </div>
            <div class="form-group">
                <label for="rulesText">Rules:</label>
                <textarea type="text" class="form-control" formControlName="rulesText"></textarea>
            </div>
            <div class="form-group">
                <label for="cancellationText">Cancellation:</label>
                <textarea type="text" class="form-control" formControlName="cancellationText"></textarea>
            </div>
        </form>
        <button type="submit" class="btn btn-success" form="createAccommodationtForm" [disabled]="!createAccommodationtForm.valid">Save</button>
    </div>
</div>