<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login</h3>
                    </div>
                    <div class="panel-body">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" ngModel required>
                                </div>
                                <div class="form-group" >
                                    <input class="form-control" placeholder="Password" name="password" type="password" ngModel required>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary  btn-block">Login</button>
                                    <button class="btn btn-primary">Register first!</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>