<ul class="nav navbar-top-links navbar-right">

  <span>{{ user.email }}</span>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
      <li>
          <a routerLink="user"><i class="fa fa-user fa-fw"></i> User Info</a>
          <a href (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </li>
    </ul>
  </li>
</ul>
