<ul class="nav navbar-top-links navbar-right">

    <span>Welkom, user</span>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
      <li>
        <button (click)="logout()" class="noButtonLayout">
          <a routerLink="/login" >
            <i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </button>
      </li>
    </ul>
  </li>
</ul>
