<h1>Edit user details</h1>

<div class="form-group">
    <label>
        Current Password
        <input type="password" class="form-control" [(ngModel)]="currentPassword"
        placeholder="Enter your current password for confirmation">
    </label>
</div>

<div class="form-group">
    <label>
        New Password
        <input type="password" class="form-control" [(ngModel)]="newPassword" (change)="onPasswordChange()">
    </label>
</div>

<div class="form-group">
    <label>
        Repeat New Password
        <input type="password" class="form-control" [(ngModel)]="newPasswordRepeat" (change)="onPasswordChange()"
        placeholder="Enter your new password again for confirmation">
    </label>
</div>

<button type="button" class="btn btn-primary" (click)="save()" [disabled]="!passwordsMatch">Save</button>
<button type="button" class="btn" routerLink="/user">Cancel</button>
