<div class="container">

    <h1 class="my-4">{{ name }}</h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Omschrijving</h3>
            <p>{{ description }}</p>
            <h3 class="my-3">Details</h3>
            <ul>
                <li>Maximale personen: {{ maxPersons }}</li>
                <li>Aantal kamers: {{ rooms }}</li>
                <li>Aantal bedden:{{ beds }}</li>
                <li>Continent: {{ continent }}</li>
                <li>Land: {{ country }}</li>
                <li>Locatie: {{ location }}</li>
            </ul>

            <h2 class="my-4">€ {{ price }}</h2>
        </div>

    </div>
</div>