ui-carousel {
    display: block;
    position: relative;
  
    ui-carousel-item {
        
      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
      }

      .content {
        position: absolute; /* Position the background text */
        top: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        width: 100%; /* Full width */
        color: #f1f1f1; /* Grey text */
      }
    }
  }
  