<div class="container" *ngIf="accommodation">

    <h1>{{ accommodation.name }}</h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Omschrijving</h3>
            <p>{{ accommodation.description }}</p>

            <h3>Ruimte</h3>
            <p>{{ accommodation.spaceText }}</p>

            <h3>Services</h3>
            <p>{{ accommodation.servicesText }}</p>

            <h3>Regels</h3>
            <p>{{ accommodation.rulesText }}</p>

            <h3>Prijzen</h3>
            <p>{{ accommodation.pricesText }}</p>

            <h3>Annuleren</h3>
            <p>{{ accommodation.cancellationText }}</p>

            <h3>Details</h3>
            <ul>
                <li>Maximale personen: {{ accommodation.maxPersons }}</li>
                <li>Aantal kamers: {{ accommodation.rooms }}</li>
                <li>Aantal bedden:{{ accommodation.beds }}</li>
                <li>Continent: {{ accommodation.continent }}</li>
                <li>Land: {{ accommodation.country }}</li>
                <li>Locatie: {{ accommodation.location }}</li>
            </ul>

            <h2>€ {{ accommodation.price }}</h2>
        </div>

    </div>
</div>