<div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Accommodations
      </h1>
      <div class="table-responsive" *ngIf="accommodations; else noAccommodationsTemplate">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th class="text-right">Price</th>
              <th class="text-right">Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accommodation of accommodations; let i = index">
              <td>{{ accommodation.name }}</td>
              <td class="text-right">{{ accommodation.price }}</td>
              <td class="text-right">{{ accommodation.approveStatus.status }}</td>
              <td>
                  <button type="button" class="btn btn-success" (click)="onApprove(accommodation)">Approve</button>
                  <button type="button" class="btn btn-danger" (click)="onReject(accommodation)">Reject</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noAccommodationsTemplate>
        No accommodations yet...
      </ng-template>
    </div>
  </div>