<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Accommodations
    </h1>
    <div class="table-responsive" *ngIf="accommodations">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accommodation of accommodations; let i = index">
            <td>{{ (i + 1) }}</td>
            <td>{{ accommodation.name }}</td>
            <td class="text-right">{{ accommodation.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!accommodations">
      No accommodations yet...
    </div>
  </div>
</div>
