<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Accommodations
    </h1>
    <button type="button" class="btn btn-success" routerLink="./new">New Accommodation</button>
    <div class="table-responsive" *ngIf="accommodations; else noAccommodationsTemplate">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accommodation of accommodations; let i = index">
            <td>{{ accommodation.name }}</td>
            <td class="text-right">{{ accommodation.price }}</td>
            <td>
              <button type="button" class="btn btn-warning" (click)="onAccommodationDeleteClick(accommodation.id)">Delete</button>
              <button type="button" class="btn btn-secondary" (click)="onAccommodationUpdateClick(accommodation.id)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAccommodationsTemplate>
      No accommodations yet...
    </ng-template>
  </div>
</div>
